html, body { margin: 0; padding: 0; }
html { background: transparent url(../images/water-repeatable.png) repeat 20px -20px; }

#board { width: 940px; height: 540px; margin: 24px 0 0 20px; position: relative; }
#units { position: absolute; top: 0; left: 0; }

.row { height: 85px; margin: -20px 0 0 0; display: inline-block; }
.row:nth-child(odd) { margin-left: 40px; }

.terrain, .unit {
  width: 80px;
  height: 85px;
}
.terrain { float: left; background: transparent url(../images/grass.png) no-repeat 0 0; }
.terrain.water { background-image: url(../images/water.png); }

.unit { position: absolute; background-repeat: no-repeat; background-position: 0 -6px; }
.unit.footman { background-image: url(../images/footman.png); }
.unit.archer { background-image: url(../images/archer.png); }

.unit .body { width: 100%; height: 100%; position: relative; z-index: 2; }
.unit .body.movable { background: transparent url(../images/active.png) no-repeat 0 0; }
.unit .body.attackable { background: transparent url(../images/attackable.png) no-repeat 0 0; }

.unit .hitpoints {
  position: absolute;
  bottom: 8px;
  right: 29px;
  padding: 1px 3px;
  background: #000;
  color: #fff;
  border-radius: 2px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  z-index: 1;
}

.unit.has-acted .body { background: transparent url(../images/active.png) no-repeat 0 0; }